---
---

@import 'main';
@import 'syntax';
@import 'https://fonts.googleapis.com/css2?family=Lora&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Fira+Code&display=swap';

body {
  font-family: 'Lora', sans-serif !important;
}

code {
  font-family: 'Fira Code',  sans-serif !important;
}

img {
  margin: 0 !important;
}

table {
  margin: 0 !important;
}

article {
  max-width: 640px !important;
}

table th {
  border-bottom: 0 !important;
}